@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";
@import "config/variable";
@import "modules/body";
@import "modules/devise";
@import "font-awesome-sprockets";
@import "font-awesome";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  width: 100%;
  min-width: $fix_width;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  background-color: $color_theme;
  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $fix_width;
    height: 64px;
    margin: 0 auto;
    color: white;
    & h1 {
      font-size: $font_size_h1;
      font-weight: bold;
      & a {
        color: white;
        text-decoration: none;
      }
    }
    &__user_nav {
      display: flex;
      align-items: center;
      &__btn {
        height: 64px;
        padding: 22px 8px;
        &:hover {
          background-color: $color_theme_opacity;
          opacity: 0.8;
          transition: 0.5s;  
        }
        & a {
          display: inline-block;
          height: 64px;
          color: white;
          text-decoration: none;
        }
      }
      & .user_name {
        margin-right: 8px;
      }
    }
  }
}

.footer {
  height: 64px;
  width: 100%;
  min-width: $fix_width;
  background-color: $color_background;
  &__bar {
    width: $fix_width;
    margin: 0 auto;
    padding-top: 8px;
    &__icon {
      height: 32px;
      font-size: $font_size_h4;
      & a {
        color: black;
        text-decoration: none;
      }
    }
    &__copylight {
      height: 24px;
      text-align: center;
      font-size: $font_size_note;
      color: $color_note;
    }
  }
}

.post_wrapper {
  width: $fix_width;
  height: 100%;
  margin: 0 auto;
  & h3 {
    text-align: center;
    font-size: $font_size_h3;
  }
  &__header {
    padding: 0 160px;
    .back_link {
      margin: 16px 48px 12px;
    }
  }
  &__content {
    margin: 0 160px;

  // 投稿フォーム
    &__post_form {
      padding: 48px;
      border: $border_style_default;
      .form_area {
        padding: 40px 40px 0;
        &__field {
          margin: 0 auto;
          & textarea {
            width: 482px;
            padding: 8px;
          }
        }
        &__action {
          margin-top: 24px;
          text-align: center;
          &__btn {
            height: 50px;
            padding: 0 30px;
            line-height: 50px;
            letter-spacing: 1px;
            text-align: center;
            border: none;
            border-radius: 25px;
            background-color: $color_theme;
            color: white;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              transition: 0.5s;  
            }
            &:focus {
              outline: none;
              border-radius: 25px;
              box-shadow: $shadow_focus;
            }
          }
        }
      }
    }
  // 投稿一覧
    &__post_list {
      padding: 48px;
      & a {
        text-decoration: none;
        color: black;
      }
      & h4 {
        text-align: center;
      }
      .post {
        margin-bottom: 12px;
        border: $border_style_default;
        border-radius: 3px;
        box-shadow: $shadow_content;
        &:hover {
          opacity: 0.8;
          box-shadow: $shadow_focus;
        }
        &__top_box {
          display: flex;
          justify-content: space-between;
          padding: 16px 24px;
          color: $color_note;
        }
        &__middle_box {
          padding: 8px 24px;
          font-size: $font_size_content;
          & span {
            white-space: pre-wrap;
          }
        }
        &__bottom_box {
          display: flex;
          position: relative;
          height: 48px;
          padding: 8px 24px;
          font-size: $font_size_icon;
          &__user_actions {
            position: absolute;
            left: 32px;
            display: flex;
            padding: 0 12px;
            cursor: pointer;
            & li {
              width: 40px;
              margin-right: 80px;
              & span {
                font-size: $font_size_defalt;
              }
            }
          }
          &__admin_actions {
            position: absolute;
            right: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80px;
            font-size: $font_size_defalt;
            & a {
              color: $color_link;
            }
            & :hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  // 投稿詳細
    &__post_show {
      padding: 0 48px;
      .post_detail {
        padding: 24px;
        border: $border_style_default;
        border-radius: 3px;
        box-shadow: $shadow_content;
        &__top_box {
          display: flex;
          justify-content: space-between;
          color: $color_note;
          font-size: $font_size_note_detail;
        }
        &__middle_box {
          margin: 32px 0;
          font-size: $font_size_content_detail;
          & span {
            white-space: pre-wrap;
          }
        }
        &__bottom_box {
          display: flex;
          justify-content: space-between;
          font-size: $font_size_icon;
          &__user_actions {
            display: flex;
            padding: 0 12px;
            & li {
              width: 64px;
              margin-right: 60px;
              & span {
                font-size: $font_size_defalt;
              }
            }
          }
          &__admin_actions {
            line-height: 31px;
            font-size: $font_size_defalt;
          }
        }
      }
    }
  }
  .scroll {
    max-height: calc(100vh - 344px);
    overflow: overlay;
  }
  .post_action_btn {
    cursor: pointer;
    color: black;
    text-decoration: none;
    &:hover {
      color: $color_actioned;
      text-shadow: 0px 0px 20px rgb(255, 0, 170)
    }
  }
  .comment_btn:hover {
    color: $color_note;
    text-shadow: 0px 0px 20px rgb(124, 121, 123)
  }
  .post_liked {
    color: $color_actioned;
  }
}

.comment_area {
  height: 100%;
  width: $width_content;
  margin: 24px auto;
  &__list {
    min-height: 135px;
    height: calc(100% - 2000px);
    margin-bottom: 24px;
    &__comment {
      display: flex;
      padding: 12px;
      border-bottom: $border_style_default;
      &__left_box {
        width: 96px;
        color: $color_note;
      }
      &__right_box {
        width: 444px;
        &__info {
          color: $color_note;
          text-align: right;
        }
        &__text {
          font-size: $font_size_content;
          font-weight: bold;
          & span {
            white-space: pre-wrap;
          }
        }
      }
    }
  }
  &__form_box {
    padding: 0 12px;
    &__form {
      position: fixed;
      bottom: 76px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__field {
        & textarea {
          resize: none;
          width: 438px;
          height: 68px;
          margin-right: 12px;
          padding: 12px;
          border-radius: 25px;
          overflow: hidden;
          &:focus {
            outline: none;
            border: $border_style_focus;
            border-radius: 25px;
            box-shadow: $shadow_focus;
          }
        }
      }
      &__hidden_field {
        display: hidden;
      }
      &__action {
        &__btn {
          height: 50px;
          padding: 0 30px;
          line-height: 50px;
          letter-spacing: 1px;
          text-align: center;
          border: 1px;
          border-radius: 25px;
          background-color: $color_theme;
          color: white;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
            transition: 0.5s;  
          }
          &:focus {
            outline: none;
            border-radius: 25px;
            box-shadow: $shadow_focus;
          }
        }
      }
    }
  }
}